<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.4/phpunit.xsd" bootstrap="_bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory>./unittests/</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./integrationtests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
            <exclude>
                <file>../src/BasilicomFieldTranslatorBundle.php</file>
                <directory suffix=".php">../src/Resources</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="_output/coverage.xml"/>
        <log type="junit" target="_output/report.xml"/>
    </logging>
</phpunit>
